

    <div class="container"> 
        <div class="d-flex justify-content-center">
            <form>
                <div>
                    <a class="nav-link active text-primary" href="/login">Login</a>
                </div>
                <div>
                    <a class="nav-link active text-primary" href="/create-ticket">Create-Ticket</a>
                </div>
                <div>
                    <a class="nav-link active text-primary" href="/list-ticket">List-Ticket</a>
                </div>
            </form>
        </div>
     </div> 
