<div >
    <figure class="figure mt-15">
        <div class="figure-img"><img data-src="https://akam.cdn.jdmagicbox.com/images/icontent/jdrwd_new/app_familybg.jpg" class="img-responsive" src="https://akam.cdn.jdmagicbox.com/images/icontent/jdrwd_new/app_familybg.jpg"></div>
        <figcaption class="figure-text ">
            <span class="heading wrapper text-center"> <span id="lng_bpart"> Be a part of our family </span>&amp;<br> <span id="lng_pckt"> get everything in your pocket</span> </span>
                <span class="subheading wrapper text-center" id="lng_dwnl">Download the Justdial App</span>
            <div class="wrapper text-center">
                <div class="wrapper input-height pt-30 sm-pt-15 pb-5">
                <div class="input-box">
                    <input type="text" id="aphnapp" class="input-control"  placeholder="Enter Phone Number">
                    <button  class="button" id="g_app">Get App</button>
                </div>
                    <span id="aemsg1" class="wrapper jmerr error"></span>
                </div>							
            </div>
            <div class="wrapper app-store text-center">
                <a href="https://www.justdial.com/JD-ON-MOBILE" title="Local Search on Mobile from Justdial"><span class="footer_sprite pstore-icon"></span></a>
                <a href="https://www.justdial.com/JD-ON-MOBILE" title="Local Search on Mobile from Justdial"><span class="footer_sprite istore-icon"></span></a>
            </div>
                <div class="wrapper text-center note dn"><span id="lng_alav">Also Available on <a id="lng_wind" href="https://www.justdial.com/JD-ON-MOBILE">Windows</a> &amp; <a id="lng_bery" href="https://www.justdial.com/JD-ON-MOBILE">Blackberry</a></span></div>
        </figcaption>
    </figure>
</div>
