<div class="border border-success  m-2 p-1">
  {{myform.value | json}}

  <form class="row g-3" novalidate [formGroup]="myform">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input formControlName="email" type="email" class="form-control" id="inputEmail4">
      <div class="text-danger" *ngIf="myform.controls['email'].touched
      && myform.controls['email'].invalid ">
        <p *ngIf="myform.controls['email'].errors?.['required']">Email is required</p>
        <p *ngIf="myform.controls['email'].errors?.['email']">please enter valid Email </p>
        <p *ngIf="myform.controls['email'].errors?.['minlength']">Email min length 4 character is required</p>
      </div>
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password</label>
      <input formControlName="password" type="password" class="form-control" id="inputPassword4">
      <div class="text-danger" *ngIf="myform.controls['password'].touched
      && myform.controls['password'].invalid ">
        <p *ngIf="myform.controls['password'].errors?.['required']">password is required</p>
        <p *ngIf="myform.controls['password'].errors?.['minlength']">password minlength 5 character is required</p>
        <p *ngIf="myform.controls['password'].errors?.['maxlength']">password maxlength 10 character is required</p>
      </div>
    </div>
    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input formControlName="address1" type="text" class="form-control" id="inputAddress" placeholder="address">
    </div>
    <div class="col-12">
      <label for="inputAddress2" class="form-label">Address 2</label>
      <input formControlName="address2" type="text" class="form-control" id="inputAddress2"
        placeholder="Apartment, studio, or floor">
    </div>
    <div class="col-md-6">
      <label for="inputCity" class="form-label">City</label>
      <input formControlName="city" type="text" class="form-control" id="inputCity">
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">State</label>
      <select formControlName="state" id="inputState" class="form-select">
        <option value="">Choose...</option>
        <option [value]="state" *ngFor="let state of states">{{state}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="inputZip" class="form-label">Zip</label>
      <input formControlName="zip" type="text" class="form-control" id="inputZip">
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck">
        <label class="form-check-label" for="gridCheck">
          Check me out
        </label>
      </div>
    </div>
    <div class="col-12">
      <button (click)="getValues()" type="submit" class="btn btn-primary">Sign in</button>
      <button mat-button mat-dialog-close>Cancel</button>
    </div>
  </form>
</div>