<br>
<div class="container">
    <h5>Popular Services</h5>
    <div class="row">
        <div *ngFor="let myelm of itemList" class="col">
            <div class="card-group">
                <div class="card mb-3" style="max-width: 400px; max-height: 200px;">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">{{myelm.title}}</h5>
                                <h6 class="card-text">
                                    <pre>{{myelm.content1}}</pre>
                                    <pre>{{myelm.content2}}</pre>
                                    <pre>{{myelm.content3}}</pre>
                                    <pre>{{myelm.content4}}</pre>
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <img width="187" height="195" alt="Restaurants" src="{{myelm.imageLink}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let myelm of itemList1" class="col">
            <div class="card-group">
                <div class="card mb-3" style="max-width: 400px; max-height: 200px;">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">{{myelm.title}}</h5>
                                <h6 class="card-text">
                                    <pre>{{myelm.content1}}</pre>
                                    <pre>{{myelm.content2}}</pre>
                                    <pre>{{myelm.content3}}</pre>
                                    <pre>{{myelm.content4}}</pre>
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <img width="187" height="195" alt="Restaurants" src="{{myelm.imageLink}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h5>Whats Trending?</h5>
    <div class="row">
        <div *ngFor="let myelm of itemList2" class="col">
            <div class="card-group">
                <div class="card mb-3" style="max-width: 400px; max-height: 200px;">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">{{myelm.title}}</h5>
                                <h6 class="card-text">
                                    <pre>{{myelm.content1}}</pre>
                                    <pre>{{myelm.content2}}</pre>
                                    <pre>{{myelm.content3}}</pre>
                                    <pre>{{myelm.content4}}</pre>
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <img width="187" height="195" alt="Restaurants" src="{{myelm.imageLink}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let myelm of itemList3" class="col">
            <div class="card-group">
                <div class="card mb-3" style="max-width: 400px; max-height: 200px;">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">{{myelm.title}}</h5>
                                <h6 class="card-text">
                                    <pre>{{myelm.content1}}</pre>
                                    <pre>{{myelm.content2}}</pre>
                                    <pre>{{myelm.content3}}</pre>
                                    <pre>{{myelm.content4}}</pre>
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <img width="187" height="195" alt="Restaurants" src="{{myelm.imageLink}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h5>Business & Services</h5>
    <div class="row">
        <div *ngFor="let myelm of itemList4" class="col">
            <div class="card-group">
                <div class="card mb-3" style="max-width: 400px; max-height: 200px;">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">{{myelm.title}}</h5>
                                <h6 class="card-text">
                                    <pre>{{myelm.content1}}</pre>
                                    <pre>{{myelm.content2}}</pre>
                                    <pre>{{myelm.content3}}</pre>
                                    <pre>{{myelm.content4}}</pre>
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <img width="187" height="195" alt="Restaurants" src="{{myelm.imageLink}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let myelm of itemList5" class="col">
            <div class="card-group">
                <div class="card mb-3" style="max-width: 400px; max-height: 200px;">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">{{myelm.title}}</h5>
                                <h6 class="card-text">
                                    <pre>{{myelm.content1}}</pre>
                                    <pre>{{myelm.content2}}</pre>
                                    <pre>{{myelm.content3}}</pre>
                                    <pre>{{myelm.content4}}</pre>
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <img width="187" height="195" alt="Restaurants" src="{{myelm.imageLink}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let myelm of itemList6" class="col">
            <div class="card-group">
                <div class="card mb-3" style="max-width: 400px; max-height: 200px;">
                    <div class="row no-gutters">
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title">{{myelm.title}}</h5>
                                <h6 class="card-text">
                                    <pre>{{myelm.content1}}</pre>
                                    <pre>{{myelm.content2}}</pre>
                                    <pre>{{myelm.content3}}</pre>
                                    <pre>{{myelm.content4}}</pre>
                                </h6>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <img width="187" height="195" alt="Restaurants" src="{{myelm.imageLink}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-card1></app-card1>