<div class="border border-dark m-2 p-3">
    <h2 class="color-warning-info">Please vist our office time and address</h2>
    <div class="row p-2">
        <div class="col card">
            <h5 class=" text-dark card-title">OPENING TIMES</h5>
            <div class="card-body">
                Mon – Fri: 11:00 AM – 8:00 PM
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col card">
            <h5 class="text-danger card-title">Please vist our office</h5>
            <div class="card-body">
                Lig 12 2nd Cross 2nd Phase Gopala shimoga karnatka 577205
            </div>
        </div>
    </div>
</div>