body{
 background-image: url("https://primary.spayee.com/s/pages/assets/images/eBfdmbacnkgrnd3.jpg");
 height: 1000px;
}
.option{
    padding: 7px 8px;
    font-size: x-large;
    width: 10px;
}
.option .cl{
    float: right;
    margin-right: 200px;
    }
.option .ser{
    margin-right: 20px;
}
.option .log{
    margin-right: 20px;
}
.half1{
    height: 100px;
    width: 400px;
    
   float: left;
    
}
.image1{
    float: right;
    margin-right: -798px;
    width: 600px;
    /* border-radius: 50px; */
    margin-top: -141px;
    background-color: #fff;
}
.container{
    display: block;
}